---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"
import Layout from "@/layouts/breadcrumbed.astro"
---

<Layout base="/house-sitting" title="Area">
  <h1 class="dark:text-secondary mb-16 text-4xl">Area</h1>
  <h2 class="dark:text-secondary mb-4 text-2xl">Shops</h2>
  <Table className="mb-12">
    <TableHeader>
      <TableRow>
        <TableHead className="dark:text-secondary">Shop</TableHead>
        <TableHead className="dark:text-secondary">Size</TableHead>
        <TableHead className="dark:text-secondary text-center whitespace-normal"
          >Minutes away (walking)</TableHead
        >
        <TableHead className="text-center whitespace-normal">
          Minutes away (public transport)
        </TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/dJHwVgHZSiALG6m99"
            target="_blank"
          >
            Tesco (Limehouse)
          </a>
        </TableCell>
        <TableCell>Small</TableCell>
        <TableCell className="text-center">3</TableCell>
        <TableCell className="text-center">❌</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/7CGececMs9KCHUnR9"
            target="_blank"
          >
            Sainsbury&apos;s
          </a>
        </TableCell>
        <TableCell>Small</TableCell>
        <TableCell className="text-center">7</TableCell>
        <TableCell className="text-center">❌</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/UEks8bm6rGicEqRR9"
            target="_blank"
          >
            Lidl
          </a>
        </TableCell>
        <TableCell>Medium</TableCell>
        <TableCell className="text-center">11</TableCell>
        <TableCell className="text-center">❌</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/YvowTZeH1sZgbvTv8"
            target="_blank"
          >
            Asda (Stepney Green)
          </a>
        </TableCell>
        <TableCell>Medium</TableCell>
        <TableCell className="text-center">24</TableCell>
        <TableCell className="text-center">❌</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/6yNuqne7EhWu9bmi8"
            target="_blank"
          >
            Tesco (Canary Wharf)
          </a>
        </TableCell>
        <TableCell>Medium</TableCell>
        <TableCell className="text-center">24</TableCell>
        <TableCell className="text-center">10</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/hfuuZWVfAxWth6UE9"
            target="_blank"
          >
            Waitrose
          </a>
        </TableCell>
        <TableCell>Large</TableCell>
        <TableCell className="text-center">28</TableCell>
        <TableCell className="text-center">14</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/SgfZN28RZLfzLGQf9"
            target="_blank"
          >
            Asda (Isle of Dogs)
          </a>
        </TableCell>
        <TableCell>Large</TableCell>
        <TableCell className="text-center">42</TableCell>
        <TableCell className="text-center">17</TableCell>
      </TableRow>
    </TableBody>
  </Table>
  <h2 class="dark:text-secondary mb-4 text-2xl">Restaurants</h2>
  <h3 class="dark:text-secondary mb-4 text-xl">Dine-in</h3>
  <Table className="mb-12">
    <TableHeader>
      <TableRow>
        <TableHead className="dark:text-secondary">Restaurant</TableHead>
        <TableHead className="dark:text-secondary">Cuisine</TableHead>
        <TableHead className="dark:text-secondary">Price</TableHead>
        <TableHead className="dark:text-secondary text-center">
          Minutes away (walking)
        </TableHead>
        <TableHead className="dark:text-secondary text-center">
          Minutes away (public transport)
        </TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/W4ffD7q2sunRPPhd9"
            target="_blank"
          >
            Yurt Cafe
          </a>
        </TableCell>
        <TableCell>Cafe/Brunch</TableCell>
        <TableCell>£</TableCell>
        <TableCell className="text-center">7</TableCell>
        <TableCell className="text-center">❌</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/dvhKyvuxBgq5gce56"
            target="_blank"
          >
            The Breakfast Club
          </a>
        </TableCell>
        <TableCell>Breakfast/Brunch</TableCell>
        <TableCell>££</TableCell>
        <TableCell className="text-center">24</TableCell>
        <TableCell className="text-center">14</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/jANVabVwidv9FWbe8"
            target="_blank"
          >
            Pizza Pilgrims
          </a>
        </TableCell>
        <TableCell>Pizza</TableCell>
        <TableCell>££</TableCell>
        <TableCell className="text-center">19</TableCell>
        <TableCell className="text-center">15</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/FwMNKyyjKvym2N3q8"
            target="_blank"
          >
            Hawksmoor
          </a>
        </TableCell>
        <TableCell>Steak</TableCell>
        <TableCell>£££</TableCell>
        <TableCell className="text-center">31</TableCell>
        <TableCell className="text-center">17</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/wcJSN3w4f7A39DAk8"
            target="_blank"
          >
            Dishoom
          </a>
        </TableCell>
        <TableCell>Indian</TableCell>
        <TableCell>££</TableCell>
        <TableCell className="text-center">32</TableCell>
        <TableCell className="text-center">18</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://maps.app.goo.gl/eqe7FYnYNUc8S2qs5"
            target="_blank"
          >
            Bleecker Burger
          </a>
        </TableCell>
        <TableCell>Burgers</TableCell>
        <TableCell>££</TableCell>
        <TableCell className="text-center">❌</TableCell>
        <TableCell className="text-center">15</TableCell>
      </TableRow>
    </TableBody>
  </Table>
  <h3 class="dark:text-secondary mb-4 text-xl">Takeaway</h3>
  <Table>
    <TableHeader>
      <TableRow>
        <TableHead className="dark:text-secondary">Restaurant</TableHead>
        <TableHead className="dark:text-secondary">Cuisine</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow>
        <TableCell>Honest Burgers</TableCell>
        <TableCell>Burgers</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Fortune Cat</TableCell>
        <TableCell>Chinese</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Dockland Fish Bar</TableCell>
        <TableCell>Chipper</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>It&apos;s All Greek To Me</TableCell>
        <TableCell>Greek</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Indian Butler</TableCell>
        <TableCell>Indian</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Tortilla</TableCell>
        <TableCell>Mexican</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Franco Manca</TableCell>
        <TableCell>Pizza</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Pizza Pilgrims</TableCell>
        <TableCell>Pizza</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Detroit Pizza</TableCell>
        <TableCell>Pizza (Detroit style)</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>Rama Thai</TableCell>
        <TableCell>Thai</TableCell>
      </TableRow>
    </TableBody>
  </Table>
</Layout>
