---
import Layout from "@/layouts/breadcrumbed.astro"
---

<Layout base="/house-sitting" title="Flat">
  <h1 class="dark:text-secondary mb-16 text-4xl">Flat</h1>
  <h2 class="dark:text-secondary mb-4 text-2xl">Address</h2>
  <p class="mb-12">
    <a
      class="hover:text-secondary focus:text-secondary transition-colors duration-300 ease-in-out"
      href="https://maps.app.goo.gl/tMKRHAD59Stf8v376"
      target="_blank"
    >
      Flat 307 Lime View Apartments, John Nash Mews, London, E14 7GQ
    </a>
  </p>
  <h2 class="dark:text-secondary mb-4 text-2xl">Access</h2>
  <h3 class="dark:text-secondary mb-4 text-xl">Front Gate</h3>
  <ul class="mb-8 space-y-4">
    <li>
      The front gate is labelled John Nash Mews, beside Brit College on
      Commercial Road.
    </li>
    <li>
      Use the <i class="dark:text-secondary">round grey & blue fob</i> to open the
      gate.
    </li>
  </ul>
  <h3 class="dark:text-secondary mb-4 text-xl">Building Entrance</h3>
  <ul class="mb-8 space-y-4">
    <li>
      The building entrance is straight ahead past the post boxes, labelled Lime
      View Apartments.
    </li>
    <li>
      Use the <i class="dark:text-secondary">round grey & blue fob</i> to open the
      door.
    </li>
  </ul>
  <h3 class="dark:text-secondary mb-4 text-xl">Flat</h3>
  <ul class="mb-12 space-y-4">
    <li>
      The flat is on the third floor. Turn right out of the lift and it's at the
      end of the hallway on your right.
    </li>
    <li>
      Use the <i class="dark:text-secondary">round silver key</i> to unlock the door.
    </li>
  </ul>
  <h2 class="dark:text-secondary mb-4 text-2xl">Deliveries</h2>
  <ul class="mb-12 space-y-4">
    <li>
      Delivery people should use the intercom at the front gate to buzz in to
      the property. When they do, the intercom will ring and you can let them in
      by pressing the <i class="dark:text-secondary">grey button</i>. You can
      also speak to them using the handset.
    </li>
    <li>
      The delivery person will then use the intercom at the building entrance to
      buzz up to the flat. When they do, the intercom will ring again and you
      can let them in by pressing the <i class="dark:text-secondary"
        >grey button</i
      > again.
    </li>
  </ul>
  <h2 class="dark:text-secondary mb-4 text-2xl">Fire Safety</h2>
  <ul class="mb-12 space-y-4">
    <li>
      There is a building-wide fire alarm system which will sound in the event
      of a fire anywhere in the building.
    </li>
    <li>
      The advice is, unless the fire is in your flat, to stay inside and wait
      for further instructions.
    </li>
    <li>
      We recommend someone goes downstairs to try and find out the cause of the
      alarm and report back.
    </li>
    <li>
      If you need to evacuate, the stairs are the first door on your left after
      leaving the flat.
    </li>
    <li>
      If evacuating, Dobby is very hesitant on the stairs and may need to be
      carried or nudged along. Pickle can be placed inside one of the carriers
      under the bed (she might hide under the couch when the alarm goes off).
      The boys' harnesses and leads are in the bottom-right compartment of the
      cabinet by the door.
    </li>
    <li>
      If the fire is in the flat, the advice is to evacuate immediately and call
      112. We also have a fire extinguishing spray in the kitchen under the
      sink.
    </li>
  </ul>
</Layout>
