---
import Layout from "@/layouts/base.astro"
---

<Layout>
  <h1 class="mb-16 text-4xl">Dobby</h1>
  <p class="mb-12">
    The big fella. Blind, deaf and arthritic - the whole package.
  </p>
  <h2 class="mb-4 text-2xl">General information</h2>
  <ul class="mb-12 space-y-4">
    <li>
      Often needs help standing up, especially on slippy surfaces. If he's
      crying or barking, it's usually because he's stuck.
    </li>
    <li>
      Very limited vision, especially in low light. Will sometimes need some
      guidance. This also means he has a tendency to step in his own poop, so
      best to go out with him if he starts pooping and pick it up as he goes.
    </li>
    <li>
      Might let out some poop nuggets every now and then (which <a
        class="underline"
        href="/pets/sprout">Sprout</a
      > will eat if he gets the chance). Also sometimes bleeds a little from his
      skin tags and discharges from his penis. All disgusting, but totally normal.
    </li>
    <li>
      If he gets too hot at night, he might like a drink if you bring his water
      over to him.
    </li>
  </ul>
  <h2 class="mb-4 text-2xl">Feeding</h2>
  <h3 class="mb-4 text-xl">Meals</h3>
  <ul class="mb-8 space-y-4">
    <li>
      Dobby is fed 3 meals per day at the same time as <a
        class="underline"
        href="/pets/sprout">Sprout</a
      > - around 9am, around 3pm, and around 7pm.
    </li>
    <li>
      Each meal consists of a heaped scoop of his kibble (large grey bin) and
      two heaped tablespoons of his chicken-rice mix.
    </li>
    <li>His kibble needs to be soaked for a few seconds to soften.</li>
  </ul>
  <h3 class="mb-4 text-xl">Treats</h3>
  <ul class="mb-12 space-y-4">
    <li>
      Dobby gets 1 Bonio (red box in cupboard beside extractor fan) biscuit once
      he's peed after dinner.
    </li>
    <li>
      The biscuit needs to be soaked in water to soften. Pop it in a glass of
      water while he's eating.
    </li>
    <li>
      His stomach is very sensitive, so try avoid giving him anything else,
      although he can handle a small amount of cheese, peanut butter or whipped
      cream.
    </li>
  </ul>
  <h2 class="mb-4 text-2xl">Water</h2>
  <ul class="mb-12 space-y-4">
    <li>Dobby drinks from water bowls in the sitting room and bedroom.</li>
    <li>
      We usually change the water bowl in the sitting room in the morning, and
      the bedroom in the evening.
    </li>
  </ul>
  <h2 class="mb-4 text-2xl">Medicine</h2>
  <ul class="mb-12 space-y-4">
    <li>
      Dobby gets 1.5 tablets of Thyforon (thyroid medicine) twice a day - once
      after breakfast and once before bed.
    </li>
    <li>
      He should eat them out of your hand, but if he's being fussy, you can put
      them on a teaspoon with a bit of peanut butter.
    </li>
  </ul>
</Layout>
