---
import Layout from "@/layouts/base.astro"

const experience = new Date().getFullYear() - 2019
---

<Layout>
  <div class="mb-12">
    <h1 class="text-3xl dark:text-white">Kevin McGonigle</h1>
  </div>
  <div class="mb-16 space-y-4">
    <p>
      Professional builder of cool internet things for over {experience} years. Recreational
      one for many more.
    </p>
    <p>
      Currently building cool internet things at <a
        class="decoration-1 decoration-primary duration-300 ease-in-out transition-colors underline underline-offset-4 dark:decoration-secondary dark:hover:text-white dark:hover:decoration-white hover:decoration-secondary hover:text-secondary"
        href="https://wetransfer.com"
        rel="noopener"
        target="_blank">WeTransfer</a
      >.
    </p>
    <p>You can call me <span class="italic dark:text-white">Kev</span>.</p>
  </div>
  <h2 class="mb-4 dark:text-white text-xl">Work</h2>
  <div class="mb-12 spacy-y-4">
    <div class="flex flex-col gap-2 sm:flex-row">
      <p class="font-bold min-w-[20%] mt-1 text-nowrap text-sm">Since 2022</p>
      <div class="sm:max-w-[75%]">
        <h3 class="font-bold mb-2 dark:text-white text-lg">
          Senior Software Engineer @ <a
            class="decoration-1 decoration-primary duration-300 ease-in-out transition-colors underline underline-offset-4 dark:decoration-white hover:decoration-secondary hover:text-secondary"
            href="https://wetransfer.com"
            rel="noopener"
            target="_blank">WeTransfer</a
          >
        </h3>
        <p>
          Crafting the core services central to WeTransfer's products. Leading
          the design and delivery of integrations with market-leading creative
          tools. Extending file preview capabilities with support for additional
          formats. Advocating for org-wide codebase modernisation, refactoring
          and quality improvement initiatives.
        </p>
      </div>
    </div>
  </div>
  <div class="mb-12 spacy-y-4">
    <div class="flex flex-col gap-2 sm:flex-row">
      <p class="font-bold min-w-[20%] mt-1 text-nowrap text-sm">2020 — 2022</p>
      <div class="sm:max-w-[75%]">
        <h3 class="font-bold mb-2 dark:text-white text-lg">
          Software Engineer @ <a
            class="decoration-1 decoration-primary duration-300 ease-in-out transition-colors underline underline-offset-4 dark:decoration-white hover:decoration-secondary hover:text-secondary"
            href="https://patreon.com"
            rel="noopener"
            target="_blank">Patreon</a
          >
        </h3>
        <p>
          Rebuilt the payments platform - drastically improving resiliency,
          scalability and performance. Designed and developed critical content
          moderation tools and automations. Instrumental in the early stages of
          an overhaul of the core membership platform, pioneering the adoption
          of modern web technologies, frameworks and practices.
        </p>
      </div>
    </div>
  </div>
  <div class="mb-16 spacy-y-4">
    <div class="flex flex-col gap-2 sm:flex-row">
      <p class="font-bold min-w-[20%] mt-1 text-nowrap text-sm">2018 — 2019</p>
      <div class="sm:max-w-[75%]">
        <h3 class="font-bold mb-2 dark:text-white text-lg">
          Software Engineer @ <a
            class="decoration-1 decoration-primary duration-300 ease-in-out transition-colors underline underline-offset-4 dark:decoration-white hover:decoration-secondary hover:text-secondary"
            href="https://aryza.com"
            rel="noopener"
            target="_blank">Aryza</a
          >
        </h3>
        <p>
          Engineered new features and resolved issues across Aryza's suite of
          products. Owned the delivery of a new cloud-based document management
          service and accompanying user interface. Migrated legacy code to
          modular web apps supported by a modern microservices architecture.
        </p>
      </div>
    </div>
  </div>
  <h2 class="mb-4 dark:text-white text-xl">School</h2>
  <div class="mb-16 spacy-y-4">
    <div class="flex flex-col gap-2 sm:flex-row">
      <p class="font-bold min-w-[20%] mt-1 text-nowrap text-sm">2016 — 2020</p>
      <div class="sm:max-w-[75%]">
        <h3 class="font-bold mb-2 dark:text-white text-lg">
          BSc Computer Applications & Software Engineering @ <a
            class="decoration-1 decoration-primary duration-300 ease-in-out transition-colors underline underline-offset-4 dark:decoration-white hover:decoration-secondary hover:text-secondary"
            href="https://dcu.ie"
            rel="noopener"
            target="_blank">Dublin City University</a
          >
        </h3>
        <p>
          Graduated with first-class honours at the top of my class. Awarded the
          DCU Academic Scholarship for academic excellence. Mentored junior
          students during programming lab sessions.
        </p>
      </div>
    </div>
  </div>
</Layout>
