---
import { buttonVariants } from "@/components/ui/button"
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"
import Layout from "@/layouts/breadcrumbed.astro"
import { cn } from "@/lib/utils"
---

<Layout base="/house-sitting" title="Pets">
  <h1 class="text-secondary mb-16 text-4xl">Pets</h1>
  <p class="mb-8">
    Here's a breakdown of everything you need to know about the kiddos.
  </p>
  <h2 class="text-secondary mb-4 text-2xl">At a glance</h2>
  <Table className="mb-12">
    <TableHeader className="text-secondary">
      <TableRow>
        <TableHead />
        <TableHead>Dobby</TableHead>
        <TableHead>Pickle</TableHead>
        <TableHead>Sprout</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow>
        <TableCell className="text-secondary">
          <strong>Feeding</strong>
        </TableCell>
        <TableCell className="whitespace-normal">
          1 heaped scoop of kibble + 2 tablespoons of chicken & rice, 3 times a
          day
        </TableCell>
        <TableCell className="whitespace-normal">
          ⅔ scoop of kibble, once a day
        </TableCell>
        <TableCell className="whitespace-normal">
          35g of kibble + 3 pieces of Dobby's kibble, 3 times a day
        </TableCell>
      </TableRow>
      <TableRow>
        <TableCell className="text-secondary">
          <strong>Water</strong>
        </TableCell>
        <TableCell className="text-center" colSpan={3}>
          Water bowls in sitting room and bedroom
        </TableCell>
      </TableRow>
      <TableRow>
        <TableCell className="text-secondary">
          <strong>Treats</strong>
        </TableCell>
        <TableCell>1 Rich Tea</TableCell>
        <TableCell>4-5 Tasty Minis</TableCell>
        <TableCell>5-6 Dreamies</TableCell>
      </TableRow>
      <TableRow>
        <TableCell className="text-secondary">
          <strong>Medication</strong>
        </TableCell>
        <TableCell className="whitespace-normal">
          <ul class="space-y-2">
            <li>1.5 Thyforon tablets, twice a day</li>
            <li>1 Pardale-V tablets, three times a day</li>
          </ul>
        </TableCell>
        <TableCell>❌</TableCell>
        <TableCell>❌</TableCell>
      </TableRow>
      <TableRow>
        <TableCell className="text-secondary">
          <strong>Litter box</strong>
        </TableCell>
        <TableCell>❌</TableCell>
        <TableCell>Empty twice a day</TableCell>
        <TableCell>❌</TableCell>
      </TableRow>
    </TableBody>
  </Table>
  <h2 class="text-secondary mb-4 text-2xl">By Pet</h2>
  <div class="mb-12 flex gap-4">
    {
      ["Dobby", "Pickle", "Sprout"].map((pet) => (
        <a
          class={cn(buttonVariants({ variant: "default" }), "flex-1")}
          href={`/house-sitting/pets/${pet.toLowerCase()}`}
        >
          {pet}
        </a>
      ))
    }
  </div>
  <h2 class="text-secondary mb-4 text-2xl">Vets</h2>
  <div class="mb-12 flex">
    <div class="flex-1">
      <h3 class="text-secondary space-y-2 text-xl">Regular</h3>
      <ul>
        <li>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://www.goddardvetgroup.co.uk/practice/mile-end/"
          >
            Goddard Vets Mile End
          </a>
        </li>
        <li>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="tel:02089815535"
          >
            020 8981 5535
          </a>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <h3 class="text-secondary space-y-2 text-xl">Emergency</h3>
      <ul>
        <li>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="https://www.goddardvetgroup.co.uk/practice/wanstead-veterinary-hospital/"
          >
            Wanstead Veterinary Hospital
          </a>
        </li>
        <li>
          <a
            class="hover:text-secondary transition-colors duration-300 ease-in-out"
            href="tel:02089897744"
          >
            020 8989 7744
          </a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
