---
import Layout from "@/layouts/breadcrumbed.astro"
---

<Layout base="/house-sitting" title="Pickle">
  <h1 class="text-secondary mb-16 text-4xl">Pickle</h1>
  <p class="mb-12">The queen. Indifference personified.</p>
  <h2 class="text-secondary mb-4 text-2xl">General information</h2>
  <ul class="mb-12 space-y-4">
    <li>Likely to ignore your existence for 99% of your stay.</li>
    <li>
      She's an escape artist - keep doors, windows and cupboards closed when not
      in use. Kitchen window can be opened and the sliding door cracked open (~2
      knuckles wide) if you're in the room with her.
    </li>
    <li>
      Not allowed on the counter if there's food or dangerous things on it. Also
      not allowed to scratch the couch or curtains. Give the spray bottle a
      shake if she's misbehaving.
    </li>
    <li>
      If she's meowing at you, she probably wants to go outside and you can put
      her out in her enclosure.
    </li>
  </ul>
  <h2 class="text-secondary mb-4 text-2xl">Feeding</h2>
  <h3 class="text-secondary mb-4 text-xl">Meals</h3>
  <ul class="mb-8 space-y-4">
    <li>Pickle is fed once per day, before bed.</li>
    <li>Top her bowl up with ⅔ of a scoop of her kibble (small grey bin).</li>
  </ul>
  <h3 class="text-secondary mb-4 text-xl">Treats</h3>
  <ul class="mb-12 space-y-4">
    <li>
      Pickle gets 5-6 Dreamies (yellow bag in cupboard beside extractor fan)
      treats once the boys have had their dinner.
    </li>
    <li>
      We often give her a piece of chicken while we're preparing the boys'
      meals.
    </li>
    <li>She also really loves lettuce, cheese or whipped cream.</li>
    <li>Feel free to give her as many treats as you want.</li>
  </ul>
  <h2 class="text-secondary mb-4 text-2xl">Water</h2>
  <ul class="mb-12 space-y-4">
    <li>
      Pickle drinks from any and all water sources available, including yours.
    </li>
    <li>
      We usually change the water bowl in the sitting room in the morning, and
      the bedroom in the evening.
    </li>
    <li>
      Her favourite water source is the cup beside the TV, so we usually keep it
      topped up.
    </li>
  </ul>
  <h2 class="text-secondary mb-4 text-2xl">Litter box</h2>
  <ul class="mb-12 space-y-4">
    <li>Pickle's litter box is in the en suite bathroom.</li>
    <li>We empty it twice a day - once in the morning and once before bed.</li>
    <li>
      To empty it, pull the tray out from the bottom and use the grey scoop
      beside the toilet to empty any pees and poos into the toilet.
    </li>
    <li>
      We usually move the box into the kitchen overnight, so that she can be
      locked in the kitchen if you want to open the bedroom window or if she's
      keeping you up.
    </li>
  </ul>
</Layout>
