---
import Layout from "@/layouts/breadcrumbed.astro"
---

<Layout base="/house-sitting" title="Sprout">
  <h1 class="dark:text-secondary mb-16 text-4xl">Sprout</h1>
  <p class="mb-12">The wee fella. Terrified of absolutely everything.</p>
  <h2 class="dark:text-secondary mb-4 text-2xl">General information</h2>
  <ul class="mb-12 space-y-4">
    <li>
      Will likely be on edge for the duration, barking at noises in the hallway,
      etc.
    </li>
    <li>
      Probably best to give him space and let him come to you initially (and
      bribe him with treats whenever you can).
    </li>
    <li>
      Liable for a pee or poo inside - best to let him out every ~2 hours or so.
    </li>
  </ul>
  <h2 class="dark:text-secondary mb-4 text-2xl">Feeding</h2>
  <h3 class="dark:text-secondary mb-4 text-xl">Meals</h3>
  <ul class="mb-8 space-y-4">
    <li>
      Sprout is fed 3 meals per day at the same time as <a
        class="hover:text-secondary underline transition-colors duration-300 ease-in-out"
        href="/house-sitting/pets/dobby">Dobby</a
      > - around 9am, around 3pm, and around 7pm.
    </li>
    <li>
      Each meal consists of ~35g (lowest mark on scoop) of his kibble
      (Forthglade bag on top of large grey bin) and a couple of pieces of
      Dobby's kibble.
    </li>
    <li>
      We don't give him any of the chicken & rice mix that Dobby gets - we
      reckon he might be allergic (nothing bad will happen if he gets some
      though, his skin just breaks out).
    </li>
  </ul>
  <h3 class="dark:text-secondary mb-4 text-xl">Treats</h3>
  <ul class="mb-12 space-y-4">
    <li>
      Sprout gets 4-5 Tasty Mini (orange-yellow bag in cupboard beside extractor
      fan) treats once he's finished his dinner.
    </li>
    <li>He also really loves cheese, peanut butter or whipped cream.</li>
    <li>Feel free to give him as many treats as you want to win him over.</li>
  </ul>
  <h2 class="dark:text-secondary mb-4 text-2xl">Water</h2>
  <ul class="mb-12 space-y-4">
    <li>Sprout drinks from water bowls in the sitting room and bedroom.</li>
    <li>
      We usually change the water bowl in the sitting room in the morning, and
      the bedroom in the evening.
    </li>
  </ul>
</Layout>
