---
import Layout from "@/layouts/breadcrumbed.astro"
---

<Layout base="/house-sitting" title="Sprout">
  <h1 class="dark:text-secondary mb-16 text-4xl">Sprout</h1>
  <p class="mb-12">The wee fella. Terrified of absolutely everything.</p>
  <h2 class="dark:text-secondary mb-4 text-2xl">General information</h2>
  <ul class="mb-12 space-y-4">
    <li>
      Will likely be on edge for the duration, barking at noises in the hallway,
      etc.
    </li>
    <li>
      Probably best to give him space and let him come to you initially (and
      bribe him with treats whenever you can).
    </li>
    <li>
      Liable for a pee or poo inside - best to let him out every few hours or
      so. If he's reluctant to go out, it's best to bring him for a short walk -
      he's also liable to hold it in, and has a history of urinary tract
      infections, so it's best to get him to go if he's been holding it in for a
      while.
    </li>
  </ul>
  <h2 class="dark:text-secondary mb-4 text-2xl">Feeding</h2>
  <h3 class="dark:text-secondary mb-4 text-xl">Meals</h3>
  <ul class="mb-8 space-y-4">
    <li>
      Sprout is fed twice per day - once in the morning and once in the evening.
    </li>
    <li>
      Each meal consists of ~60g (use scales) of his kibble (pink Forthglade bag
      beside the bin).
    </li>
  </ul>
  <h3 class="dark:text-secondary mb-4 text-xl">Treats</h3>
  <ul class="mb-12 space-y-4">
    <li>
      Sprout gets 4-5 Tasty Mini (orange-yellow bag in cupboard beside extractor
      fan) treats once he's finished his dinner.
    </li>
    <li>
      He's had a history of pancreatitis, so please don't give him any high-fat
      human food.
    </li>
  </ul>
  <h2 class="dark:text-secondary mb-4 text-2xl">Water</h2>
  <ul class="mb-12 space-y-4">
    <li>Sprout drinks from water bowls in the sitting room and bedroom.</li>
    <li>
      We usually change the water bowl in the sitting room in the morning, and
      the bedroom in the evening.
    </li>
  </ul>
</Layout>
