---
import SpeedInsights from "@vercel/speed-insights/astro"
import "@/styles/globals.css"
---

<html class="dark:[color-scheme:dark]" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin McGonigle</title>
  </head>
  <body class="bg-white text-primary dark:bg-primary dark:text-secondary">
    <!--<header></header>-->
    <main class="max-w-screen-md my-32 px-8 mx-auto">
      <slot />
    </main>
    <!--<footer></footer>-->
    <SpeedInsights />
  </body>
</html>
