---
import SpeedInsights from "@vercel/speed-insights/astro"
import "@fontsource-variable/outfit"
import "@/styles/globals.css"
import Breadcrumb from "@/components/breadcrumb.astro"
---

<html class="dark:[color-scheme:dark]" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin McGonigle | Software Engineer</title>
  </head>
  <body>
    <!--<header></header>-->
    <main class="max-w-screen-md my-16 px-8 mx-auto">
      <Breadcrumb className="mb-8" />
      <slot />
    </main>
    <!--<footer></footer>-->
    <SpeedInsights />
  </body>
</html>
