---
import Analytics from "@vercel/analytics/astro"
import SpeedInsights from "@vercel/speed-insights/astro"
import "@/styles/globals.css"

const experience = new Date().getFullYear() - 2019
---

<html class="dark:scheme-dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin McGonigle</title>
    <meta
      name="description"
      content=`Kevin McGonigle. Professional builder of cool internet things for over ${experience} years. Recreational one for many more.`
    />
  </head>
  <body class="bg-white text-primary dark:bg-primary dark:text-secondary">
    <!--<header></header>-->
    <main class="max-w-(--breakpoint-md) my-32 px-8 mx-auto">
      <slot />
    </main>
    <!--<footer></footer>-->
    <Analytics />
    <SpeedInsights />
  </body>
</html>
