---
import Analytics from "@vercel/analytics/astro"
import SpeedInsights from "@vercel/speed-insights/astro"
import "@/styles/globals.css"

type Props = {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<script is:inline>
  const isDark = window.matchMedia("(prefers-color-scheme: dark)").matches
  document.documentElement.classList[isDark ? "add" : "remove"]("dark")
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-background text-primary">
    <!--<header></header>-->
    <main class="mx-auto my-16 max-w-(--breakpoint-md) px-8 lg:my-32">
      <slot />
    </main>
    <!--<footer></footer>-->
    <Analytics />
    <SpeedInsights />
  </body>
</html>
